DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CHANNEL_ID=your_discord_channel_id
WOL_INTERFACE=eth0

NAME_NAS=NAS
MAC_NAS=00:00:00:00:00:00
IP_NAS=192.168.1.10

NAME_MEDIA=Media Server
MAC_MEDIA=00:00:00:00:00:00
IP_MEDIA=192.168.1.20

SSH_USER_MEDIA=youruser
SSH_KEY_MEDIA=/home/youruser/.ssh/id_ed25519_wol
SSH_PORT_MEDIA=22
